<div class="p-3">
  <section class="content-header">
    <h1>Sobre</h1>
  </section>
  <section class="content">
    <p class="lead">
      Versão do APP: 1.0.0-beta <br />(legendas do APP oficial: 1.4.0)
    </p>
    <p class="lead">
      Este aplicativo foi desenvolvido para aqueles com alguma dificultade no
      idioma inglês. Seja você ou alguém do seu grupo, as legendas podem
      facilitar e agilizar o entendimento da campanha e do aplicativo
      <i>Legends of the Alliance</i> - <i>Star Wars Imperial Assault</i>
      enquanto a empresa desenvolvedora do app oficial não traduz as legendas
      para outros idiomas.
    </p>
    <p class="lead">
      Todas as legendas foram retiradas do aplicativo e traduzidas 100% no
      google translator, sendo assim, alguns textos podem não fazer sentido na
      tradução.
    </p>
    <p class="lead">
      Ícones: <a href="http://www.iconarchive.com/show/starwars-icons-by-sensibleworld.html" target="_blank">iconarchive.com</a>
    </p>
    <p class="lead">
      Desenvolvido por Charlles Bandeira
    </p>
  </section>
</div>
